.body_page {
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

.page-header {
    background-image: url("../images/backgroundheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}

.content_header {
    background-color: rgba(94, 93, 88, 0.6);
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 1;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo-h {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    background-color: #18cfab;
    width: 58px;
    height: 67px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.logo-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-left: 6px;
}

.logo-span {
    font-weight: 700;

    color: rgba(24, 207, 171, 1);
}

.navigation_list {
    display: flex;
    align-items: center;

}

.navigation_item {

    margin-left: 21px;
}

.navigation_link:hover {
    color: rgba(24, 207, 171, 1);
}

.accent-color {
    color: rgba(24, 207, 171, 1);
}

.navigation_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 384px;


}

.header_topic {
    font-weight: 700;
    font-size: 35px;
    line-height: 34px;
    margin-bottom: 22px;
}

.header_title {
    font-weight: 700;
    font-size: 78px;
    line-height: 78px;
    margin-bottom: 22px;
}

.header_description {
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 130px;
    color: rgba(212, 212, 212, 1);
}

.header_button_list {
    padding-bottom: 243px;
    align-items: center;

}

.header_button1 {
    margin-right: 26px;
    color: #FFFFFF;
    padding: 16px 18px;
    background-color: #18CFAB;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 8px;
    box-shadow: inset 0 4px #ffffff;
    cursor: pointer;
}

.header_button2 {
    color: #FFFFFF;
    padding: 16px 12px;
    border: none;
    background-color: #00CBF6;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 8px;
    box-shadow: inset 0 4px #ffffff;
    cursor: pointer;
}

/* SECOND  */
.second_section {
    text-align: center;
    padding-top: 8px;

}

.second_section_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.second_section_item_one {
    background-color: #1C2A33;
    align-items: center;
    justify-content: center;
    padding-top: 95px;
    padding-bottom: 110px;
    color: rgba(24, 207, 171, 1);
}

.second_section_item_two {
    background-color: #18CFAB;
    align-items: center;
    justify-content: center;
    padding-top: 115px;
    color: rgba(255, 255, 255, 1);
}

.second_section_text {
    margin-top: 48px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

}

/* Services */
.section-services {
    margin-bottom: 90px;
    text-align: center;
}

.service_title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    padding-top: 90px;
    color: #4E4E4E;
    position: relative;
    margin-bottom: 100px;
}

.service_title:before,
.service_title:after {
    content: '';
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.service_title:after {
    transform: translateX(-20%);
    bottom: -25px;
}

.services_list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 23px;

}

.service_item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    border: 1px solid #F2F2F2;
}

.service_link {
    text-decoration: none;
    color: #717171;
    padding: 18px 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.service_item:hover {
    border: 1px solid #18CFAB;
}

.active {
    background-color: #18CFAB;
    position: relative;

}

.active:after {
    content: "";
    position: absolute;
    display: inline-block;
    border: 12px solid transparent;
    bottom: -23px;
    border-top: 12px solid #18cfab;
}

.service-img-link {
    display: none;
}

.seen {
    display: flex;
}

.service-img-link p {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 119, 119, 1);
}

.service-image {
    margin-right: 15px;
}

/* Install */

.section-install {
    text-align: center;
    background-image: url("../images/backgroundinstall.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 127px;
}

.install-title {
    color: #18CFAB;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 126px;
    margin-bottom: 12px;
}

.install-text {
    color: rgba(216, 216, 216, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 67px;
}

.install-button {
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 18px;
    background-color: #18CFAB;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 8px;
    box-shadow: inset 0 4px #ffffff;
    cursor: pointer;
}

/* Work */

.section-work {
    background-color: #E9EDEF;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 100px;
}

.work-title {
    color: rgba(78, 78, 78, 1);
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 97px;
    position: relative;
}

.work-title:before,
.work-title:after {
    content: '';
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.work-title:after {
    transform: translateX(-20%);
    bottom: -25px;
}

.section-work-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(113, 113, 113, 1);
    margin-bottom: 70px;
}

.section-work-item {
    padding: 15px 25px;
    border: 1px solid #DADADA;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    cursor: pointer;
}

.section-work-item:hover {
    border: 1px solid #18cfab;
    color: #18CFAB;
}

.section-work-item-active {
    border: 1px solid #18CFAB;
    color: #18CFAB;

}

/* Work images*/
.work-images-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;
    margin-bottom: 70px;
    gap: 0;

}

.work-images-item {
    position: relative;
}

.work-hover {
    width: 288px;
    height: 210px;
    border-top: 2px solid #18CFAB;
    background-color: #FFFFFF;
    position: absolute;
    text-align: center;
    display: none;
    top: 0;
}

.work-hover-icon {
    margin-top: 40px;
    margin-bottom: 24px;
}

.work-hover-text1 {
    color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
}

.work-hover-text2 {
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
}

.work-images-item:hover .work-hover {
    display: block;
}

.work-button {

    border: none;
    /*padding-bottom: 5px;*/
    background-color: #18CFAB;
    width: 168px;
    height: 63px;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    padding: 0;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    color: #FFFFFF;


}

.work-button-image {
    margin-right: 15px;
    margin-top: 10px;
}

.hide {
    display: none;
}

/* News */
.news-title {
    color: rgba(78, 78, 78, 1);
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
    padding-top: 82px;

}

.news-title:before,
.news-title:after {
    content: '';
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.news-title:after {
    transform: translateX(-20%);
    bottom: -25px;
}

.news-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 128px;

}

.news-item {
    position: relative;
    background-color: #F8FCFE;
    margin-bottom: 44px;
    border: 1px solid #F2F4F5;
}

.news-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: center;
}

.news-data {
    margin-top: 10px;
}

.news-list a {
    text-decoration: none;
}

.news-blog-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    padding-left: 15px;
}

.news-comment-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-left: 15px;
}

.news-item:hover .news-date {
    background-color: #18CFAB;
}

.news-item:hover .news-blog-text {
    color: #18CFAB;
}

/* People */

.section-people {
    text-align: center;
    background-image: url("../images/backgroundpeople.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 104px;
}

.people-title {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
    padding-top: 98px;

}

.people-title:before,
.people-title:after {
    content: '';
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.people-title:after {
    transform: translateX(-20%);
    bottom: -25px;
}

.people-list {
    margin-top: 36px;
    margin-bottom: 56px;
}

.people-text {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 37px;
}

.people-name {
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
}

.people-work {
    color: rgba(187, 187, 187, 1);
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    margin-bottom: 50px;
}

.people-foto {
    border-radius: 50%;
    box-shadow: 0 0 0 9px rgb(3 218 164 / 25%);

}

.people-item {
    display: none;
}

.people-active {
    display: block;
}

/*people-tape*/

.people-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.people-tape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.people-btn {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    cursor: pointer;
    width: 31px;
    height: 31px;
}

.people-tape-item {
    margin-right: 35px;
    cursor: pointer;
}

.people-tape-img {
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgb(1 218 164 / 25%);
}

.people-btn:hover {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.active-img-tape {
    transform: translate(0, -20px);
    transition: 0.5s ease;
}

.main {
    padding-bottom: 13px;
}

.footer {
    background-color: #22353F;
}

.footer-text {
    text-align: center;
    color: rgba(174, 174, 174, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding: 48px 0;
}

.footer-span {
    color: rgba(24, 207, 171, 1);
}